<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro UI -->
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
        <title>Critical Race Theory Database Search</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/frontend.css') }}">
        <script src="{{ url_for('static', filename='scripts/frontend.js') }}"> </script>
        <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"> </script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    </head>
    <body>
        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
        <nav class="navigation">
            <ul>
                <li><a class="link" href="/home">Home</a></li>
                <li><a class="link" href="/recent">Recent searches</a></li>
                <li><a class="link" href="/graphs">Graphs</a></li>
                <li><a class="link" href="/about">About</a></li>
                <!-- <li><a class="link" href="/results">Results</a></li> -->
            </ul>
        </nav>
        
        <div class="container">
            <h1>CRT Scraper Database</h1>
            
            <h2>Search</h2>
            <form id="search-form" role="form" action = "http://127.0.0.1:8000/results" method = 'POST'>
                <p>
                <label>KEYWORD</br> <input name="kw1" type="text" size="30" id="kw1" placeholder='e.g."Principal"'></label>
                <select name="fields1" id="fields1">
                    <option value="all fields">All fields</option>
                    <option value="Title">Title</option>
                    <option value="Author">Author</option>
                    <option value="Text">Full Text</option>
                    
                </select>
                </p>

                <p class="input-fields">
                    <label>KEYWORD</br> 
                    <select name="andor1" id="andor1">
                        <option value="and" id="and">AND</option>
                        <option value="or" id="or">OR</option>
                        <option value="not" id="not">NOT</option>
                    </select>

                    <input name="kw2" type="text" size="30" id="kw2"placeholder='e.g."Election"'></label>
                    
                    <select name="fields2" id="fields2">
                        <option value="all fields">All fields</option>
                        <option value="Title">Title</option>
                        <option value="Author">Author</option>
                        <option value="Text">Full Text</option>
                
                    </select>
                </p>

                <p id="thirdKeyword">
                    <label>KEYWORD</br> 
                    <select name="andor2" id="andor2">
                        <option value="and" id="and">AND</option>
                        <option value="or" id="or">OR</option>
                        <option value="not" id="not">NOT</option>
                    </select>

                    <input name="kw3" type="text" size="30" id="kw3"placeholder='e.g."Election"'></label>
                    
                    <select name="fields3" id="fields3">
                        <option value="all fields">All fields</option>
                        <option value="Title">Title</option>
                        <option value="Author">Author</option>
                        <option value="Text">Full Text</option>
                       
                    </select>
                </p>

                <script> document.getElementById("thirdKeyword").style.display = "none"; </script>

                <p id="fourthKeyword">
                    <label>KEYWORD</br> 
                    <select name="andor3" id="andor3">
                        <option value="and" id="and">AND</option>
                        <option value="or" id="or">OR</option>
                        <option value="not" id="not">NOT</option>
                    </select>

                    <input name="kw4" type="text" size="30" id="kw4"placeholder='e.g."Election"'></label>
                    
                    <select name="fields4" id="fields4">
                        <option value="all fields">All fields</option>
                        <option value="Title">Title</option>
                        <option value="Author">Author</option>
                        <option value="Text">Full Text</option>
                        
                    </select>
                </p>

                <script> document.getElementById("fourthKeyword").style.display = "none"; </script>

                <p id="fifthKeyword">
                    <label>KEYWORD</br> 
                    <select name="andor4" id="andor4">
                        <option value="and" id="and">AND</option>
                        <option value="or" id="or">OR</option>
                        <option value="not" id="not">NOT</option>
                    </select>

                    <input name="kw5" type="text" size="30" id="kw5"placeholder='e.g."Election"'></label>
                    
                    <select name="fields5" id="fields5">
                        <option value="all fields">All fields</option>
                        <option value="Title">Title</option>
                        <option value="Author">Author</option>
                        <option value="Text">Full Text</option>
                        
                    </select>
                </p>

                <script> document.getElementById("fifthKeyword").style.display = "none"; </script>

                <script>
                    var counter = 2; 
                    function myFunction() {
                        if (counter == 2) {
                            var x = document.getElementById("thirdKeyword");
                        } else if (counter == 3) {
                            var x = document.getElementById("fourthKeyword");
                        } else if (counter == 4) {
                            var x = document.getElementById("fifthKeyword");
                        }
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        }
                        counter += 1;
                    }

                </script>

                <p>
                    <button class="pagebutton" type="button" id="add-search-field" onclick="myFunction()">Add keyword</button>
                </p>

                <h2>Narrow Results</h2>
                <p>
                    <label for="date"><h3>PUBLICATION DATE </h3></label>
                    <label>FROM
                        <input name="from" type="text" data-role="calendarpicker" data-input-format="%m/%d/%y" value="1/1/2017" data-min-date="1/1/2017" data-max-date="8/31/2022">
                    </label>
                    <label>TO
                        <input name="to" type="text" data-role="calendarpicker" data-input-format="%m/%d/%y" value="8/31/2022" data-min-date="1/1/2017" data-max-date="8/31/2022">
                    </label>
                </p>
                <p>
                    <label for="sources"><h3>SOURCES</h3>
                        <label>
                            <input name="all" type="checkbox" id="all" checked>
                        ALL SOURCES</label>
                        <label>
                            <input name="cnn" type="checkbox" id="cnn">
                        CNN</label>
                        <label>
                            <input name="fox" type="checkbox" id="fox">
                        FOX</label>
                        <label>
                            <input name="wapo" type="checkbox" id="wapo">
                        WASHINGTON POST</label>
                        <label>
                            <input name="msnbc" type="checkbox" id="msnbc">
                        MSNBC</label>
                        <label>
                            <input name="nytimes" type="checkbox" id="nytimes">
                        NY TIMES</label>
                    </label>

                    </br></br>

                    <label for="type"><h3>ARTICLE TYPE</h3>
                        <select name="type" id="type">
                            <option value="all">All</option>
                            <option value="oped">Op-Ed</option>
                            <option value="journalistic">News Report</option>
                            <option value="non-text">Non-Textual</option>
                        </select>
                    
                    </br></br>
                    
                    <label for="appearance"><h3></h3></label> 
                        <input name="appearance" type="checkbox" id="appear">Only Show Explicit CRT Mentions
                    </label></br></br>
                    <button type = "submit" class="pagebutton"id="submitbtn">Submit Search</button>
                </p>
            </form>

            <!-- this is where the form interaction will happen -->
            <!-- <?php
            $search_term_1 = "";
            $search_term_2 = "";
            echo "Searching for... " . $search_term_1 . "<br>";
            ?> -->

        </div>
    </body>
</html>

<!-- GRACE TO DO:source (series of check boxes), op-ed vs journalistic, and submit button called "Search"-->
<!-- PETER TO DO: research ways to make webapp for database, come up with plan. -->
